<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ChuJing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>charset</filter-name>
    <filter-class>com.util.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>charset</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.admin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsOpeServlet</display-name>
    <servlet-name>NewsOpeServlet</servlet-name>
    <servlet-class>com.servlet.admin.NewsOpeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsOpeServlet</servlet-name>
    <url-pattern>/NewsOpeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaseOpeServlet</display-name>
    <servlet-name>CaseOpeServlet</servlet-name>
    <servlet-class>com.servlet.admin.CaseOpeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseOpeServlet</servlet-name>
    <url-pattern>/CaseOpeServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharsetFilter</display-name>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>com.util.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/CharsetFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>JobsOpeServlet</display-name>
    <servlet-name>JobsOpeServlet</servlet-name>
    <servlet-class>com.servlet.admin.JobsOpeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsOpeServlet</servlet-name>
    <url-pattern>/JobsOpeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOpeServlet</display-name>
    <servlet-name>UserOpeServlet</servlet-name>
    <servlet-class>com.servlet.admin.UserOpeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOpeServlet</servlet-name>
    <url-pattern>/UserOpeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.servlet.admin.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
</web-app>