/* CSS Document */

td{
height:30px;
vertical-align:middle;

}

.menu_font{
font-size:14px;
color:#FFFFFF;
cursor:pointer;
}
.head_title_2{
font-size:18px;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
}

.head_title_3{
font-size:14px;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
}

.td_forborder{
height:8px;
}
.input_text{
width:420px;
height:20px;
}